{%extends "::base.html.twig" %}
{% block title %}
    affiche un films
{% endblock %}

{% block body %}

    <a href="{{ path('cinemaconsultation_homepage') }}">
        Accueil


    </a>


    <h2>Détails du film {{unFilm.titre }} </h2><br>
    <p>
        {# affichage des messages flash dont le nom est 'info' #}
        {% for message in app.session.flashbag.get('info') %}
        <p> {{ message }}
        </p>
    {% endfor %}
</p>


<h1> Titre : {{ unFilm.titre }}</h1>
<p>Resume : {{unFilm.resume}}</p>
<p>Duree : {{unFilm.duree}} minutes</p>
<p> Pays : {{unFilm.pays}}</p>
<p> Recette : {{unFilm.recettes}} yen </p>

{%endblock%}