{%extends "::base.html.twig" %}
{% block title %}
    affiche un films
{% endblock %}
{% block paneltitle %} <h3>Les films</h3> {% endblock %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Resume</th>
            <th>Duree</th>
            <th>Pays</th>
            <th>Recette</th>
        </tr>
        {% for unFilm in film %}
            <tr>
                <th>{{ unFilm.titre }}</th>
                <td>{{unFilm.resume}}</td>
                <td>{{unFilm.duree}} minutes </td>
                <td>{{unFilm.pays}}</td>
                <td>{{unFilm.recettes}}</td> 
            </tr>

        {% else %}
            Erreur
        {% endfor %}
    </table>
{%endblock%}