{%extends "::base.html.twig" %}
{% block title %}
   Film : {{unFilm.titre}} {{ parent() }}
{% endblock %}
{% block paneltitle %} <h3>Détail du film N°{{unFilm.id}}</h3> {% endblock %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Resume</th>
            <th>Durée</th>
            <th>Pays</th>
            <th>Recettes</th>
        </tr>
        <tr>
            <th>{{unFilm.titre}} </th>
            <td>{{unFilm.resume}} </td>
            <td>{{unFilm.duree}} </td>
            <td>{{unFilm.pays}} </td>
            <td>{{unFilm.recettes}} </td>
        </tr>
    </table>
    <p>
        <a href="{{ path('cinemaconsultation_homepage') }}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour à la liste</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ path('cinemaconsultation_modifierfilm', {'id' : unFilm.id}) }}">
            <span class="glyphicon glyphicon-edit"></span>
            Modifier le film</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ path('cinemaconsultation_supprimerfilm',{'id' : unFilm.id}) }}">
            <span class="glyphicon glyphicon-trash"></span>
            Supprimer le film</a>&nbsp;&nbsp;&nbsp;
    </p>
{%endblock%}
