{%extends "::base.html.twig" %}
{% block title %}
affiche un studio
{% endblock %}

{% block body %}

    <a href="{{ path('cinemaconsultation_homepage') }}">
Accueil
</a>
    
    <h1> Titre : {{ unstudio.nom }}</h1>
    <p>adresse: {{unstudio.adresse}}</p>
    <p> Pays : {{unstudio.pays}}</p>
    <p> CA: {{unstudio.ca}} yen </p>
    
{%endblock%}