<div data-role="header" data-theme="e">
    <a data-rel="back" data-icon ="back"> Retour</a> 
    
        <h1>Application Covoiturage</h1>
        <a href="index.php?action=accueil" rel ="external" data-rel="home" data-icon ="back"> home</a> 
</div><!-- /header -->
