<div data-role="footer" data-theme="b">
       <div data-role="navbar" data-grid="b">
    <ul>
        <li><a href="#" class="ui-btn-active">Offres arrivée</a></li>
        <li><a href="#">Offres départ</a></li>
        <li><a href="index.php?action=gereroffresdepartentreprise">mes Offres</a></li>
    </ul>
</div><!-- /navbar -->
</div><!-- /footer -->
  
