{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h3> Création de produit</h3> {% endblock %}
{% block body -%}


    <form action="{{ path('produit_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('produit') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
