{% extends '::basevente.html.twig' %}
{% block paneltitle %} <h3> Produit : {{entity.nom}} </h3> {% endblock %}
{% block body -%}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Description </th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Prixht</th>
                <td>{{ entity.prixHT }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('produit') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('produit_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('produit_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
