<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AlloCiné!{% endblock %}</title>
        {% block stylesheets %}
            <link rel='stylesheet' href="{{ asset('css/bootstrap.css')}}" type='text/css' />
        {% endblock %}
        <style type='text/css'>
            body { padding-bottom: 70px; }
        </style>
    </head>
    <body>
        <div claas="wrap">
            <div class="container">
                <header class="page-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row">
                                <h1>Gestion des films</h1>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="{{ asset('img/cinema.jpg') }}" >
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills">
                            <li class ="active">
                                <a href="{{ path('cinemaconsultation_homepage') }}">
                                    Accueil
                                </a>
                            </li>
                            <li class ="active">
                                <a href="{{ path('cinemaconsultation_ajouter') }}">
                                    Ajouter un film
                                </a>
                            </li>
                            <li class ="active">
                                <a href="{{ path('cinemaconsultation_affichelesfilms2') }}">
                                    Afficher les films
                                </a>
                            </li>
                            <li class ="active">
                                <a href="{{ path('cinemaconsultation_affichelesfilmsfrancais') }}">
                                    Film Français
                                </a>
                            </li>
                            <li class ="active">
                                <a href="{{ path('cinemaconsultation_produits') }}">
                                    Gestion produits
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                {% block paneltitle %} {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        {% block body %} {% endblock %}
                    </div>
                </div>
                <div id="push"></div>
            </div>
        </div>
        <div class="nav navbar-fixed-bottom">
            <div class="container">
                <hr />
                <div id="footer">
                </div>
            </div>
        </div>
    </body>
</html>